<ion-view title="การเข้าสู่ระบบ" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="page5-form2" class="list">
      <ion-list id="page5-list3">
        <label class="item item-input" id="page5-input3">
          <span class="input-label">อีเมล</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page5-input4">
          <span class="input-label">รหัสผ่าน</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="page5-button9" class="button button-stable button-block">เข้าสู่ระบบ</button>
      <a href-inappbrowser="/signup" id="page5-button10" class="button button-positive button-block button-clear">ลงทะเบียน</a>
    </form>
  </ion-content>
</ion-view>